.cabecalho {
    background-color:#ffffff;
    align-self: center;
}

.cabecalho img {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    align-items: center;
}

#menu ul li {
    padding: 6px 50px;
    display: inline-block;

    font-size: 16px;
    font-weight: bold;
    color: #005B27;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li:hover {
    color: #01441e;
    cursor: pointer;
}

