body {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    color: #323232;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
}

.detalhes-produto-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    padding: 0 80px;
    margin-top: 30px;
}

.detalhes-produto-container div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;  
}

.detalhes-produto-container div .direita {
    position: relative;
    float: left;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.descricoes {
    position: relative;
    text-align: left;
    min-width: 768px;
    margin: 0 40px 40px;
}

.descricoes form {
    position: relative;
    width: 100%;
}

.descricao-produto {
    margin-top: 30px !important;
}

form {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    text-align: left;
}

.descricoes h1 {
    text-align: justify;
    line-height: 32px;
    padding-top: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #414141;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

div .price {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.descricoes h3 {
    line-height: 30px;
    text-align: left;
}

h3 {
    color: #414141;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    
}

.descricoes .desc {
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 30px;
}

div .desc {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.detalhes-produto-container div .esquerda {
    position: relative;
    float: left;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.detalhes-produto-container ul li {
    display: flex;
    flex-direction: column;
    min-width: 315px;
    overflow: hidden;
    font-size: 20px;
}

.detalhes-produto-container ul li h1 {
    margin-top: 10px;
    font-size: 40px;
    color: #444;
}

.detalhes-produto-container ul li span {
    color: #999;
}

.btnCadastrar {
    max-width: 40%;
    margin-top: 30px;
}
